$estilosFooter: (
    ancho: 100%,
    colorDeFondo: rgb(31,25,25),
    alturaContenido: auto,
);

.footer {
    bottom: 0;
    width: map-get($estilosFooter, ancho);
    height: map-get($estilosFooter, alturaContenido);
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-items: center;
    margin-top: 40px;

    &_seccion{
        background-color: map-get($estilosFooter, colorDeFondo);
        width: map-get($estilosFooter, ancho );
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    &_titulo{
        color: $colorDelTexto;
        font-size: 1.6rem;
        margin-bottom: 10px;
    }
    
    &_redes{
        padding: 20px;
    }
}

$redes: (
    facebook: #3a5795,
    instagram: #C25E30,
    linkedin: #0077b5,
    tiktok: #FFFFFF
);

@each $red, $valor in $redes {
    .btn-#{$red} {
        color: $valor !important;
    }    
}



.footer_lista , .icon , .footer_text{
    color: $colorDelTexto;
}

.footer_telefono , .footer_mail , .footer_direc{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

.fa-brands{
    transition: transform 1s;

    &:hover{
        transform: rotate(360deg);
    }
}



.icon{
    margin-right: 5px;
}