
@media screen and (max-width: 1023px){

    .principal{
        flex-direction: column;
        align-items: center;
    }

.footer {
    grid-template-columns: 50% 50%;
 }

 #burger{
     display: none;
 }

}

@media screen and (max-width: 659px){
    .header {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
        padding-top: 10px;
    }

    .principal{
        margin-top: 50px;
    }

    #burger{
        display: none;
    }

    .carrusel_caja{
        width: 420px;
    }

}

@media screen and (max-width: 479px){

    .principal{
        flex-direction: column;
        align-items: center;
    }

    .formulario{
        width: 250px;
    }

    .servicios{
        grid-template-columns: 80%;
        grid-template-rows: auto;
        padding-top: 40px;
    }

    #comentario {
        width: 200px;
    }
    .header{
        display: flex;
        flex-direction: row;
        padding-left: 40px;
        padding-right: 40px;
    }

    #burger{
        display: block;
    }


    .nav_lista{
        display: none;
    }

    .principal_titulo{
        font-size: 3rem;
    }

    .footer {
        grid-template-columns: 100%;
    }

    .footer_maps{
        display: none;
    }
}
