@mixin tamaños($width, $height: auto){
    width: $width;
    height: $height;
}

.card{
    color: black;

    &:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
        border: solid #86e3ce 2px;
        border-radius: 5px;
    }
}


.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 100px;

    &_seccion1{
        @include tamaños(100%,300px );
        background-color: #86E3CE;
    }

    &_seccion{
        @include tamaños(100%, auto);
        background-color: rgb(31, 25, 25);
        margin-top: 20px;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px;
        transition: transform 2s;

        &:hover{
            transform: scale(1.2);
        }

        &--subtitulo{
            color: $colorDelTexto;
            font-size: 2rem;
            text-align: center;
        }

    }
    
    &_parrafo{
        @include tamaños(50%, min-content);
        margin-top: 50px;
        margin-right: 1rem;
        padding: 1rem;
        background-color: black;
        border: solid 2px #86e3ce;
        color: $colorDeOtroTexto;
    }
    
    &_titulo{
        @include tamaños(auto);
        color: $colorDelTexto;
        font-size: 5rem;
        width: auto;
        text-align: center;
    }

}

.tabla{
    @include tamaños(99%, 400px);
    display: flex;
    margin: 5%;
    flex-wrap: wrap;

    &_elemento{
        background-color: white;
        border: 1px solid;
        width: 33%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    &_titulo{
        @include tamaños(100%, 100%);
        background-color: cadetblue;
        text-align: center;
    }
    
    &_lista{
        width: 75%;
    }
    

}

.formulario{
    background-color: black;
    margin-top: 40px;
    width: 500px;
    margin-left: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: solid 1px #86e3ce;
    display: flex;
    flex-direction: column;
    color: $colorDeOtroTexto;
}


.carrusel_caja{
    @include tamaños(700px, 120px);
    padding-left: 100px;
    padding-right: 100px;
    background-color: black;
    border: solid 2px #86e3ce;
}

.carrusel_titulo{
    background-color: gray;
    color: $colorDelTexto;
    padding: 10px;
    border-radius: 5px;
    border: solid 2px #86e3ce;
}

.d-block{
    border: solid #86e3ce 2px;
    border-radius: 5px;
}